@using EPiServer.Shell.Web.Mvc.Html
@model EPi.Libraries.Localization.Models.TranslationItem

<div class="epi-containerLayout">
    <div class="epi-formsWidgetWrapper">
        <p>@Html.Translate("/edit/imageeditor/saveas/directorypath") @Html.DisplayFor(m => m.LookupKey)</p>
    </div>

    <div class="epi-formsWidgetWrapper">
        @Html.Translate("/admin/editcontenttype/propertymissingonmodel"):
        @if (Model.MissingValues.Count == 0)
        {
            <strong>-</strong>
        }


        <ul>
            @{
                foreach (string missingValue in Model.MissingValues)
                {
                    <li>@missingValue</li>
                }
            }
        </ul>
    </div>
    <div class="epi-formsWidgetWrapper">
        @Html.Translate("/epidiff/propertychanges/version"):
        <ul>
            @{
                foreach (KeyValuePair<string, string> translatedValuePair in Model.TranslatedValues)
                {
                    <li><strong>@translatedValuePair.Key</strong>: @translatedValuePair.Value</li>
                }
            }
        </ul>
    </div>
</div>